---
import BaseLayout from "../layouts/BaseLayout.astro";

const getUser = () => {
	return Math.random() < 0.5 ? null : {
		name: 'sigma', email: 'sigma67@mango.xd'
	}
}

const user = getUser()
---

<BaseLayout>
	<div class="content">
		<h2>Welcome {user?.name}</h2>
		{user && <p>Logged in as: {user.email}</p>}
		<p>Lorem ipsum dolor sit amet.</p>
		<a href="/cars">Check out our cars!</a>
	</div>
</BaseLayout>

<style>
	.content {
		text-align: center;
	}
	a {
		background-color: rgb(133, 43, 218);
		color: #fff;
		padding: 6px 10px;
		border-radius: 3px;
		text-decoration: none;
		margin-top: 20px;
	}
</style>